.auth{

  width: 80%;
  max-width: 40rem;
  height: auto;
  max-width: 40rem;
  padding: 2rem;
  font-family: "GilroyB", sans-serif !important;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 3rem;
  margin: 0 auto 5% auto;
  box-shadow: inset 0px -8px 6px rgba(89, 89, 89, 0.3), 12px 1.2rem 75px rgba(89, 89, 89, 0.2);

}

.progress{

  box-shadow: inset 0px 0px 4px rgba(89, 89, 89, 0.3), 0px 5px 1rem rgba(89, 89, 89, 0.2);
  width: 75%;
  height: 1em;
  border-radius: 600rem;
  margin: 2em auto;
  padding: 5px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-start; */

}

.progress div{

  background-color: var(--primary);
  height: 100%;
  border-radius: 600rem;
  box-shadow: inset 0px 0px 5px rgba(89, 89, 89, .5);

}

.completion{

  display: flex;
  align-items: center;
  margin: auto;

}

.completion h6{

  /* font-family: "GilroyM"; */
  font-size: 1.2rem;
  letter-spacing: 2px;

}

.submitButton{

  width: 65% !important;
  display: flex;
  justify-content: flex-end;
  margin: 2rem auto 0 auto !important;

}

.submit{

  border-radius: 100%;
  display: flex;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem !important;
  box-shadow: inset 0px -10px 4px rgba(89, 89, 89, 0.3), 12px 1.2rem 50px rgba(89, 89, 89, 0.2);
  border: none;
  transition: ease-in-out .2s;
  color: #fff;
  cursor: pointer;

}

.theform{

  display: flex;
  align-items: center;
  flex-direction: row-reverse;

}

.farmericon{

  float: right;
  width: 100%;
  padding: 3%;

}

.farmericon img{

  width: 100%;

}

/* *{

  font-family: "GilroyM", sans-serif !important;

} */

@media only screen and (max-width: 800px){

  .theform{
    flex-direction: column;
  }

  .farmericon{

    float: right;
    width: 75%;
    padding: 3%;
  
  }

  

}